<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Suite1"  parallel="tests" thread-count="1">
    <test name="chrome">
        <parameter name="browser" value="chrome"/>
        <parameter name="url" value="https://www.facebook.com/"/>
        <classes>
            <class name="facebook.LoginTest"/>
            <class name="facebook.RegisterUnDisplayedTest"/>
        </classes>
    </test>

    <test name="firefox">
        <parameter name="browser" value="firefox"/>
        <parameter name="url" value="https://www.facebook.com/"/>
        <classes>
            <class name="facebook.LoginTest"/>
            <class name="facebook.RegisterUnDisplayedTest"/>
        </classes>
    </test>
</suite>
